.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
  word-break: break-word;
  margin: 0 auto;
  gap: 0.7rem;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

.title {
  text-align: center;
  font-weight: bold;
}

.content{
  text-align: justify;
  align-self: center;
  justify-self: center;
  margin-block: auto;
}