.container {
  border: 2px solid #000000;
  border-right-color:transparent ;
  width: 100vw;
  height: 100vh;
  display: flex;
  transform: translate3d(-2rem,0,0);
  flex-direction: column;
}

.title {
  position: relative;
  padding-block: 10px;
  border-bottom:2px solid #000000;
  border-right: 2px solid #000000;
  display: flex;
  align-items: center;
}
.title h1 {
  font-size: 1.5rem;
  position: absolute;
  transform: translate3d(-50%, -50%,0);
  top: 50%;
  left: 50%;
}


.title img{
  width: 300px;
  height: 40px;
}

.box {
  display: flex;
  width: 100%;
}

.box-images{
  flex: 1;
  border-right: 2px solid #000000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.box-images p {
  padding-left: 1rem;
}

.images {
  padding: 1rem;
  flex: 1;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}