.container {
  border: 1px solid #000000;
  border-left-color: transparent;
  border-top-color: transparent;
}

.title {
  position: relative;
  padding-block: 10px;
  border:1px solid #000000;
  border-bottom-color:transparent;
  border-right-color:transparent ;
  display: flex;
  align-items: center;
}
.title h1 {
  font-size: 1.5rem;
  position: absolute;
  transform: translate3d(-50%, -50%,0);
  top: 50%;
  left: 50%;
}


.title img{
  width: 300px;
  height: 40px;
}

.box {
  display: flex;
  width: 100%;
}